<h2 class="text-center my-3 my-xl-5">Busque por categoria:</h2>

<div class="container row mx-auto g-4">
  <div *ngFor="let item of list" class="col-6 col-md-4 col-xl-2">
    <div class="card rounded-0 border-0">
      <img
        class="d-md-none d-block"
        [src]="item.mobileImageSrc"
        alt="Imagem para MOBILE"
      />
      <img
        class="d-none d-md-block d-xl-none"
        [src]="item.tabletImageSrc"
        alt="Imagem para TABLET"
      />
      <img
        class="d-none d-xl-block"
        [src]="item.desktopImageSrc"
        alt="Imagem para DESKTOP"
      />
      <div class="card-header bg-black text-bg-dark">
        <p class="card-text btn-primary text-center">{{ item.nome }}</p>
      </div>
    </div>
  </div>
</div>
