<div class="container my-3 my-xl-5">
  <h2 class="text-center py-3">Produtos que estão bombando:</h2>
  <div class="row mx-auto">
    <div *ngFor="let item of list" class="col-12 col-md-6 col-xxl-4 g-4">
      <div class="card">
        <img
          class="d-md-none d-block"
          [src]="item.mobileImageSrc"
          alt="Mobile"
        />
        <img
          class="d-none d-md-block d-xl-none"
          [src]="item.tabletImageSrc"
          alt="Tablet"
        />
        <img
          class="d-none d-xl-block"
          [src]="item.desktopImageSrc"
          alt="Desktop"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.produto }}</h5>
          <p class="card-text">
            {{ item.descricao }}
          </p>
          <p>{{ item.preco }}</p>
          <a href="#" class="btn btn-primary btn-purple rounded-0 border-0"
            >Ver mais</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
